BUCKPAY_TOKEN=
BUCKPAY_USER_AGENT=
BUCKPAY_API_BASE_URL=https://api.realtechdev.com.br
BUCKPAY_DEFAULT_NAME=Cliente Vegablox
BUCKPAY_DEFAULT_EMAIL=cliente@vegablox.online
BUCKPAY_DEFAULT_PHONE=5511999999999
BUCKPAY_DEFAULT_CPF=
WEBHOOK_SECRET=
APP_URL=https://seu-dominio.vercel.app
