BLACKCATPAY_CLIENT_ID=
BLACKCATPAY_CLIENT_SECRET=
BLACKCATPAY_API_URL=https://dash.blackonpay.com/v3/pix/qrcode
BLACKCATPAY_STATUS_URL=
BLACKCATPAY_DEFAULT_NAME=Cliente Vegablox
BLACKCATPAY_DEFAULT_CPF=
WEBHOOK_SECRET=
APP_URL=https://seu-dominio.vercel.app
